@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:ital,wght@0,100;1,300;1,400;1,700&family=Nunito+Sans:ital,wght@0,300;0,600;1,700&family=Nunito:wght@300;600;700&family=Raleway:wght@400;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,700&family=The+Nautigal&display=swap');


:root {
    --fontFamily: 'Raleway', sans-serif;
    --fontSize: 16px;
    --primary: #ffc1b6;
    --btn: #ff927f;
    --btnHover: #c66554;
    --white: #fff;
    --headings: #484848; /*rgb(72, 72, 72)*/
    --darkBlue:#19334d; /*rgb(25, 51, 77) */
    --text: #666;
    --gray: #aaa;
    --lightGray: #f6f6f6;
    --blue: #6699cc;  /*rgb(102, 153, 204)*/
    --transition: 0.3s ease;
    --py: 100px 0;
    --pt: 100px 0 0 0;
}
/* basic styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: 400;
    line-height: 1.6;
    color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--headings);
}
h2 {
    font-size: 2.3rem;
    text-transform: uppercase;
    line-height: 1.4;
}
ul {
    list-style: none;
}
a:hover {
    transition: var(--transition);
}
button {
    background-color: var(--btn);
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    background-color: var(--btnHover);
    transition: var(--transition);
}
.container {
    width: 75%;
    margin: auto;
}

/* header */

header {
    background-image:linear-gradient(rgb(25, 51, 77, 0.7), rgb(25, 51, 77, 0.9)), url(img/moon.JPG);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0;
}
.logo {
    font-size: 1.5rem;
    color: var(--white);
}
.logo span {
    font-weight: 700;
    color: var(--primary);
}
.logo:hover{
    color: var(--primary);
}
header a {
    text-decoration: none;
    text-transform: uppercase;
}
header ul {
    display: flex;
}
header ul li a {
    color: var(--white);
    margin-left: 50px;
    font-size: 1.2rem;
}
header ul li a:hover{
    color: var(--primary);
}
header article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    text-align: center;
}
header article h1 {
    color: var(--white);
    font-size: 4rem;
}
header article p {
    color: var(--white);
    font-size: 1.8rem;
    padding: 10px 0;
}

/* about */

.about {
    width: 55%;
    margin: auto;
    padding: var(--py);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about article {
    flex: 0 0 48%;
}
.about p {
    font-size: 1.1rem;
    line-height: 1.4;
}
.about h4,
.gallery h4,
.blog h4 {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--text);
    font-weight: 400;
    margin-top: 20px;
}
.about p:first-child{
    padding-bottom: 30px;
}

/* gallery */

.gallery {
    padding: var(--py);
    background-color: var(--lightGray);
}
.gallery h2,
.gallery h4{
    text-align: center;
}
.gallery .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}
.gallery .container div {
    flex: 0 0 48%;
}
.gallery .container div img {
    display: block;
    width: 100%;
}
.gallery .container div h3 {
    background: var(--white);
    box-shadow: 0 0 3px var(--gray);
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}
.gallery .buttons {
    text-align: center;
    margin-top: 40px;
}
.gallery .buttons button {
    margin: 0 20px;
}
.gallery .buttons button:last-child{
    background-color: var(--headings);
}
.gallery .buttons button:last-child:hover{
    background-color: var(--btnHover);
}

/* blog */

.blog {
    padding: var(--pt);
}
.blog article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
}
.blog article .col {
    flex: 0 0 48%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
    align-items: center;
}
.blog article img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--primary);
    transition: var(--transition);
}
.blog article img:hover{
    border: 5px solid var(--btn);
}
.blog article .col .text {
    flex: 0 0 66%;
}
.blog article .col .img {
    flex: 0 0 30%;
}
.blog article .col:nth-child(even) .text {
    order: 2;
}
.blog article .col:nth-child(even) .img{
    order: 1;
}
.blog article .col:nth-child(odd) .text {
    text-align: right;
}
.blog .text h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
}
.blog .text h5 {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--gray);
    font-weight: 400;
    padding-bottom: 20px;
}
.blog .text p {
    font-size: 1.1rem;
}

/* cta */
.cta {
    background-image:linear-gradient(rgb(25, 51, 77, 0.7), rgb(25, 51, 77, 0.9)), url(img/cover.JPG);
    padding: var(--py);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.cta h2 {
    color: var(--white)
}
.cta h4 {
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 400;
    padding: 30px 0;
    font-size: 1.4rem;
}

/* footer */
footer{
    text-align: center;
    padding: var(--py);
}
footer i {
    font-size: 2rem;
    color: var(--btn);
    margin: 0 30px;
    transition: var(--transition);
}
footer i:hover {
    color: var(--btnHover);
}
footer ul {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
footer ul li {
    border-right: 1px solid var(--text);
    padding: 0 20px;
}
footer ul li:last-child {
    border: none;
}

/* responsive */
@media(min-width: 767px) and (max-width: 960px){
    .blog article .col {
        flex: 0 0 90%;
    }
    .blog article .col .text,
    .blog article .col .img {
        flex: 0 0 48%;
        margin: 20px 0;
        align-items: center;
    }
}
@media(max-width: 767px){
    header {
        height: 80vh;
    }
    header nav {
        flex-direction: column;
        text-align: center;
        padding: 20px 20px 0;
        align-items: center;
    }
    header article h1 {
        font-size: 3rem;
    }
    header ul li a {
        margin: 20px;
        font-size: 1rem;
    }
    header article p {
        padding: 20px;
        font-size: 1.4rem;
    }
    .about,
    .container {
        width: 90%;
    }
    .about article {
        flex: 0 0 100%;
        padding-bottom: 20px;
    }
    .gallery .container div {
        flex: 0 0 100%;
        margin-bottom: 50px;
    }
    .gallery .buttons button {
        margin: 0 0 20px 0;
    }
    h2 {
        font-size: 1.8rem;
    }
    .about h4,
    .gallery h4,
    .blog h4 {
        font-size: 1.4rem;
    }
    .blog article,
    .blog article .col,
    .blog article .col .text,
    .blog article .col .img {
        flex: 0 0 100% ;
    }
    .blog article .col:nth-child(even) .text {
        order: 1;
    }
    .blog article .col:nth-child(even) .img{
        order: 2;
    }
    .blog article .col .text {
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .blog article .col:nth-child(odd) .text {
        text-align: center;
        margin-bottom: 20px;
    }
    footer ul {
        flex-direction: column;
        margin: 20px;
    }
    footer ul li {
        padding: 10px;
        border: none;
    }
}







